/*-- https://quarto.org/docs/presentations/revealjs/themes.html --*/
/*-- scss:defaults --*/

$presentation-h2-font-size: 1.1em;
$presentation-heading-color: #18453B;
$link-color: #0B9A6D;

hr {
    height: 1px;
    background: #0B9A6D;
    border: 0px;
    width: 80%;
}